<div>
	Welcome <%= @user.full_name %>
</div>
	<div id='my_team' class="container">

		<div class='row'>
			<div id='tp1'class='col-xs-2'></div>
			<div id='tp2'class='col-xs-2'></div>
			<div id='tp3'class='col-xs-2'></div>
			<div id='tp4'class='col-xs-2'></div>
			<div id='tp5'class='col-xs-2'></div>
			<div id='tp6'class='col-xs-2'></div>
		</div>
	</div>