<div>
	Welcome <%= @user.full_name %>
</div>
	<div id='my_team' class="container">

		<div class='row'>
			<div id='tp1'class='col-md-2'></div>
			<div id='tp2'class='col-md-2'></div>
			<div id='tp3'class='col-md-2'></div>
			<div id='tp4'class='col-md-2'></div>
			<div id='tp5'class='col-md-2'></div>
			<div id='tp6'class='col-md-2'></div>
		</div>
	</div>
	<h3>My Back Pack</h3>
	<div id="my_backpack"class="container">
		<% @pokemons.each do |pokemon| %>
			<div class='col-md-2'>
				<%= image_tag pokemon.event.image, size: "100"%><br>
					<p><%= pokemon.event.name %></p>

			</div>

		<%end%>


	</div>