
<div class='events'>
<!-- TODO: fix indentation -->
<h3>Editing Event</h3>
<hr />
<section id='event-form' class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render 'form' %>

    </div>
  </div>
</section>
<!-- TODO: fix indentation -->
</div>

<%= link_to 'Back', @event %>
