<h3>Editing Event</h3>

<section id='event-form' class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= render 'form' %>

    </div>
  </div>
</section>

<%= link_to 'Back', @event %>
