<div class = 'display_pokemon'>
<p> <%= image_tag @pokemon.event.image, size: "100"%></p>
<p> <strong>Name: </strong> <%= @pokemon.event.name %> </p>
<p> <strong>Type: </strong> <%= @pokemon.event.category %> </p>
<p> <strong>Level: </strong> <%= @pokemon.level %> </p>
</div>